.lightBlue {

    -fx-background-color: #CCECFF;
}

.pop-out {

    -fx-background-color: #FFFFFF;
    -fx-border-style: solid;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 3;
}

.credit-box {

    -fx-background-color: #003366;
}

.credit-text {

    -fx-text-fill: #FFFFFF;
}

.climbable {

    -fx-cursor: hand;
}

.climbable:armed {

    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.game-button:armed {

    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
}

.game-button {

    -fx-cursor: hand;
    -fx-font-weight: 700;
    -fx-font-size: 19px;
    -fx-background-color: #B8D5E6;
    -fx-border-color: #434E54;
    -fx-effect: innerShadow(three-pass-box, #434E54, 6, 0, 0, 0);
}

.game-label {

    -fx-font-size: 29px;
    -fx-border-width: 1px;
    -fx-border-color: #D4E1E8;
}

.game-sublabel {

    -fx-font-size: 20px;
    -fx-font-weight: 700;
}

.important {

    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.important:armed {

    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
}

.printarea{

    -fx-background-color: #FFFFFF;
    -fx-border-color: #003366;
    -fx-border-width: 1px;
}

.blend {
    -fx-background-insets: 0;
    -fx-background-color: inherit;
}

.blend .content {
    -fx-background-color: #FFFFFF;
    -fx-padding: 10px;
    -fx-highlight-fill: inherit;
}