<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ServletHtml</servlet-name>
        <servlet-class>com.servlet.ServletGeneratesHtml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPT</servlet-name>
        <servlet-class>com.servlet.ServletGeneratesPlainText</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletHtml</servlet-name>
        <url-pattern>/ServletHtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPT</servlet-name>
        <url-pattern>/ServletPT</url-pattern>
    </servlet-mapping>
</web-app>