body {

    background: #FFFFFF;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.app-title {

    width: 50%;
    height: 75%;
    border: 1px solid #D9D9D9;
    color: #7F7F7F;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-pane.top {

    height: 11vh;
    align-items: center;
    justify-content: space-evenly;
}

.app-pane.top img {

    height: 85%;
    width: 15%;
}

.app-pane.bottom {

    height: 87.5vh;
    align-items: flex-start;
    justify-content: space-around;
}

.app-button:active {

    transform: scale(0.99);
}

.app-button {

    cursor: pointer;
    width: 30%;
    height: 15%;
    height: 12.5%;
    margin-top: 5vh;
    background-color: #B8D5E6;
    border-color: #434E54;
    font-weight: 700;
    font-size: 1.1rem;
}

.app-button.exit {

    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 15% 10% 0;
    width: 12%;
    height: 5%;
}

.app-pane {

    background: #CCECFF;
    display: flex;
    flex-flow: row;
}

.dynamic-box.top {

    font-size: 0.85rem;
    background-color: #003366;
    color: #FFFFFF;
    height: 70%;
    width: 15%;
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.dynamic-box.top p {

    align-self: center;
    margin: 0;
    padding: 0;
}

.mini-text {

    font-size: 0.7rem;
}