html, body {

    height: 100%;
    margin: 0;
}

.app-title {

    width: 47rem;
    height: 4.5rem;
    border: 1px solid #D9D9D9;
    color: #7F7F7F;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-pane.top {

    height: 11%;
    align-items: center;
    justify-content: space-evenly;
}

.app-pane.top img {

    height: 5rem;
    width: 12rem;
}

.app-pane.bottom {

    min-height: 87%;
    height: 87%;
    position: relative;
    margin-top: 1%;
    align-items: flex-start;
    justify-content: space-around;
}

.app-pane.bottom.stretch {

    height: auto;
}

.app-button:active {

    transform: scale(0.99);
}

.app-button {

    cursor: pointer;
    width: 20rem;
    height: 6rem;
    margin-top: 5%;
    background-color: #B8D5E6;
    border-color: #434E54;
    font-weight: 700;
    font-size: 1.1rem;
}

.app-button.exit {

    margin-top: -5%;
    margin-left: -10%;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    width: 8rem;
    height: 3rem;
}

.app-pane {

    background: #CCECFF;
    display: flex;
    flex-flow: row;
}

.dynamic-box.top {

    font-size: 0.85rem;
    background-color: #003366;
    color: #FFFFFF;
    height: 4.5rem;
    width: 12rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.dynamic-box.top p {

    align-self: center;
    margin: 0;
    padding: 0;
}

.mini-text {

    font-size: 0.7rem;
}

html, body {
    height: 100%;
    margin: 0;
}

.app-title {

    width: 47rem;
    height: 4.5rem;
    border: 1px solid #D9D9D9;
    color: #7F7F7F;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-pane.top {

    height: 11%;
    align-items: center;
    justify-content: space-evenly;
}

.app-pane.top img {

    height: 5rem;
    width: 12rem;
}

.app-button:active {

    transform: scale(0.99);
}

.app-button {

    cursor: pointer;
    width: 20rem;
    height: 6rem;
    margin-top: 5%;
    background-color: #B8D5E6;
    border-color: #434E54;
    font-weight: 700;
    font-size: 1.1rem;
}

.app-button.exit {

    margin-top: -5%;
    margin-left: -10%;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    width: 8rem;
    height: 3rem;
}

.app-pane {

    background: #CCECFF;
    display: flex;
    flex-flow: row;
}

.dynamic-box.top {

    font-size: 0.85rem;
    background-color: #003366;
    color: #FFFFFF;
    height: 4.5rem;
    width: 12rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.dynamic-box.top p {

    align-self: center;
    margin: 0;
    padding: 0;
}

.mini-text {

    font-size: 0.7rem;
}

.app-pane.display {

    border: 1px solid #000000;
    margin-top: 2%;
    background-color: #FFFFFF;
    width: 65%;
    height: 92%;
    display: flex;
    justify-content: flex-end;
}

.app-pane.display.none {

    border: none;
    position: relative;
    background-color: inherit;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

#visual-display {

    width: 70%;
    overflow: scroll;
    overflow-x: hidden;
}

.app-pane.info {

    margin-top: 1%;
    display: flex;
    height: 95%;
    flex-flow: column;
    user-select: none;
}

.app-pane.info.section {

    display: flex;
    flex-flow: row;
    justify-content: center;
}

.app-pane.info.section.game-info {

    flex-flow: column;
    align-items: center;
}

.app-pane.info.section .app-button {

    width: 10rem;
    height: 3rem;
}

.game.icon {

    border: 1px solid #000000;
    cursor: pointer;
    padding: 0.25rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 3.5rem;
}

.app-pane.display.stats {

    background-color: inherit;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-self: flex-end;
    height: 3rem;
}

.app-pane.display.stats.score {

    visibility: hidden;
}

.app-pane.loginForm {

    margin-top: 10%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.app-pane.loginForm * {

    margin: 0.2rem;
}

.app-pane.loginForm button {

    margin-top: 1rem;
    width: 5rem;
    height: 2rem;
}

.app-button.play {

    width: 5rem;
    height: 2rem;
}

.app-button.start {

    margin-top: -18%;
    width: 9rem;
    height: 3rem;
}

#game-select {

    margin-top: 2%;
    width: 7rem;
    height: 2rem;
    border: 2px solid #434E54;
    font-weight: 700;
    font-size: 0.9rem;
}

.app-pane.display {

    font-family: Arial, sans-serif;
    font-size: 14pt;
}

.info.section .gameTicker {

    display: flex;
    flex-flow: column;
    align-items: center;
}

.info.section .gameTicker span {

    margin-top: 15%;
    font-weight: bold;
    font-size: 2rem;
}

.app-pane.display table, tr {

    margin: auto;
    text-align: center;
    border-collapse: collapse;
    padding: 0;
}

.app-pane.display td {

    width: 100px;
    height: 72px;
    padding: 0 3px;
}

.app-pane.display h1 {

    color: #00b2ce;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    text-shadow: 1px 1px 1px #eee, 2px 2px 6px #999;
}

.app-pane.display img {

    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid orange;
    box-shadow: 1px 1px 2px white, 2px 2px 5px black;
    background-color: white;
}

/* the message box that appears with game results, hidden by default */
#message {

    background-color: #f9ecf2;
    padding: 2%;
    border: 2px solid #434E54;
    visibility: hidden;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 25%;
}

#again {

    margin-top: 5%;
    width: 8rem;
    height: 3rem;
}

/* covers the entire page in a semi-transparent grey, hidden by default */
#overlay {

    background-color: rgba(20, 20, 20, 0.4);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
